[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
sysinfo.txt
.idea/
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.apk
*.aab
*.unitypackage
*.app
*.exe
*.dll
*.so
*.dylib
*.stackdump
*.swp
*.bak
*.orig
*.tmp
